body{
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
      font-family: system-ui, sans-serif;
    font-size: 2.2rem;
      font-weight: bold; 
}

#hdr{
    background-color: white;
    width: 80%;
    height: 40%;
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding = 10px;
}


input{
    text-align: center;
    font-family: system-ui, sans-serif;
    border: solid #229091;
    height: 10%;
}
.button {
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
    background-color: #ebebeb;
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,100%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,100%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
    width: 10%;
    height: 15%;
          font-family: system-ui, sans-serif;
    font-size: 1.2rem;
      font-weight: bold; 
}
.button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}



#groupA{
   
    background-color: white;
    width: 80%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}
.non{
    display:none;
}

.block{
    display: block;
}
